{% extends "layout.html" %}

{% block content %}
<section class="services">
  <div class="services__container container">
    <article class="card">
      <h2 class="card__title">Разработка чат-ботов</h2>
      <p class="card__description">Создаем интеллектуальных чат-ботов для автоматизации взаимодействия с клиентами и улучшения их опыта.</p>
      <button class="button">Подробнее</button>
    </article>
    <article class="card">
      <h2 class="card__title">Маркетинговые стратегии</h2>
      <p class="card__description">Разрабатываем эффективные маркетинговые стратегии для привлечения и удержания клиентов.</p>
      <button class="button">Подробнее</button>
    </article>
    <article class="card">
      <h2 class="card__title">Веб-дизайн и разработка</h2>
      <p class="card__description">Создаем современные и функциональные веб-сайты, которые привлекают и удерживают клиентов.</p>
      <button class="button">Подробнее</button>
    </article>
    <article class="card">
      <h2 class="card__title">SEO-оптимизация</h2>
      <p class="card__description">Улучшение видимости вашего сайта в поисковых системах для увеличения трафика и продаж.</p>
      <button class="button">Подробнее</button>
    </article>
    <article class="card">
      <h2 class="card__title">Анализ данных и отчетность</h2>
      <p class="card__description">Предоставляем детальный анализ данных и отчетность для принятия обоснованных бизнес-решений.</p>
      <button class="button">Подробнее</button>
    </article>
    <article class="card">
      <h2 class="card__title">Брендинг и айдентика</h2>
      <p class="card__description">Создаем уникальные бренды и визуальные идентичности, которые выделяются на рынке.</p>
      <button class="button">Подробнее</button>
    </article>
  </div>
</section>
{% endblock %}
